[package]
name = "veil"
version = "0.1.0"
edition = "2021"
description = "Rust derive macro for masking sensitive data in `std::fmt::Debug`"
license = "MIT"
repository = "https://github.com/primait/veil"

[workspace]
members = ["veil-macros", "veil-tests"]

[dependencies]
veil-macros = { path = "veil-macros" }